*~
BUILD/
build*
BUILDROOT
*.cmake
CMakeCache.txt
CMakeFiles
libtool
Makefile
src/build_cmake_*
src/client/Makefile
src/libs/Makefile
src/libs/*.o
src/Makefile*
src/server/.libs/
src/server/Makefile
src/server/*.o
src/server/example_*
src/libs/.libs/
Testing/
src/test/generate_logs
tests/lighttpd/log/access.log
tests/lighttpd/log/error.log
tests/lighttpd/run/lighttpd.pid
tests/tests/obix-fcgi
install_manifest.txt
